<launch>
  <arg name="config" />
  <node name="detect_grasps_server" pkg="gpd_ros" type="detect_grasps_server" output="screen" >
    <param name="config_file" value="$(arg config)" />
    <param name="rviz_topic" value="/plot_grasps" />
  </node>
  <node name="gpd_docker" pkg="gpd_docker" type="grasp_server.py" output="screen" />
</launch>
